* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;

    .player{
        margin: auto;
        text-align: center;
        padding-top: 8px;
        position: relative;
        max-width: 350px;
        
        // display: flex;
        // flex-direction: column;
        //overflow: scroll;

        .dash-board {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;
            position: fixed;
            top: 0;
            width: 100%;
            max-width: inherit;
            padding: 10px;
            z-index: 1;

            .header{
    
                .status{
                    color: blue;
                    margin-top: 10px;
                }
            }
    
            .CD {
                margin: 20px;
                width: 180px;
                height: 180px;
    
                .cd-thumb {
                    background-image: url('https://yt3.ggpht.com/7QUpP5qzoTUCH7aHmjxiAHVDAO5ghWynFayJsInMcm7zQNKVPd8QiPiGWVbkrb3tiqmvL6gUCf0=s900-c-k-c0x00ffffff-no-rj');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
    
            // Control
            .control {
                padding: 6px;
                width: 100%;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: fit-content;
                font-size: 20px;

                .active {
                    color: red;
                }   
            }
    
            .play-button {
                padding: 16px;
                background: palevioletred;
                border-radius: 100%;
            }
    
            .button {
                cursor: pointer;
    
                &:hover {
                    font-weight: 800;
                }
            }
            
            .container {
                display: flex;
                width: 100%;
                align-items: center;
                //margin: 10px 0;

                .progress {
                    width: 100%;
                    background: #ccc;
                    opacity: 0.7;
                    height: 6px;
                    
                    
    
                    &::-webkit-slider-thumb {
                        cursor: pointer;
                    }
                }
    
                .volume {
                    position: relative;
                
                    .scroller {
                        display: none;
                        position: absolute;
                        transform: rotate(-90deg);
                        top: -80px;
                        left: -45px;
                        //background: black;
                        height: 3px;
                        touch-action: none;

                        
                    }

                    .active {
                        display: block;
                    }

                    .volume-button {
                        margin: 0 12px;
                    }
                }
            }
        }


        //List songs
        .play-list {
            margin-top: 370px;
            padding: 18px;

            .song {
                background-color: #fff;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 10px;
                padding: 6px 0;
                border-radius: 6px;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
                cursor: pointer;

                .thumb {
                    //background-image: url('https://yt3.ggpht.com/7QUpP5qzoTUCH7aHmjxiAHVDAO5ghWynFayJsInMcm7zQNKVPd8QiPiGWVbkrb3tiqmvL6gUCf0=s900-c-k-c0x00ffffff-no-rj');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                }

                .body {
                    text-align: left;
                    width: 160px;
                    font-size: 14px;
                    float: left;
                }
            }
            
            .song-active {
                border: 1px solid red;

            }

            .option {
                background: #fff;
                position: relative;
                padding: 8px;
                border-radius: 100%;

                &:hover {
                    background: #ccc;
                }

                &:active:not(.song) {
                    opacity: .7;
                }
                
                li {
                    list-style: none;
                }

                .option-menu {
                    display: none;
                    position: absolute; 
                    top: 30px;
                    left: 5px;
                    width: 80px;
                    border-radius: 5%;
                    background: #ccc;
                    
                    .delete-button {
                        padding: 6px;
                        font-size: 18px;
                        -webkit-user-select: none;
                        
                    }
                }

                .selected {
                    display: block;
                }
            }

            .option-active {
                background: #ccc;
            }
        }
    }
}